* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #035228;
    --secondary: #707070;
    --danger: #dc143c;
    --warning: #f09f09;
    --success: #0ae38d;
    --white: #ffffff;
    --light: #f0f0f0;
    --purple: #800080;
}

html {
    scroll-behavior: smooth;
}

body {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Poppins', 'Montserrat', 'Roboto', sans-serif;
    overflow-x: hidden;
    background-color: var(--light);
}

.container {
    width: 100%;
    min-height:100svh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    width: 50%;
    background: var(--white);
    position: relative;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    border-radius: 10px;
    outline: 0;
}

.list-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding: 8px;
    width: 100%;
    position: relative;
}

.form-input {
    padding: 10px 15px;
    border: none;
    background: var(--light);
    border-radius: 15px;
    outline: 0;
    color: var(--secondary);
    font-size: 16px;
}

.form-group > label {
    color: var(--secondary);
    font-weight: 700;
    margin-left: 10px;
}

@media only screen and (max-width: 768px) {
    .form-container {
        width: 100%;
        background: var(--white);
        position: relative;
        box-shadow: 0 0 8px rgba(0,0,0,0.5);
        margin: 0 25px;
    }
}